<%= render 'procesos/nav' %>
<br>
<h1>Procesos Pendientes</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Commits</th>
      <th>Status</th>
      <th>Contribuidores</th>
      <th>Version</th>
      <th>Creado Por</th>
      <th>Fecha Creado</th>
    </tr>
  </thead>

  <tbody>
    <% @procesos.each do |proceso| %>
        <td><%= proceso.nombre %></td>
        <td><%= proceso.commits %></td>
        <td>
          <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn <% if proceso.status == 'Solicitud de Aprobacion' %> btn-outline-warning <% elsif proceso.status == 'Rechazado' %> btn-outline-danger <% else %> btn-outline-success <% end %> dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= proceso.status %>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <%= link_to 'Aceptado', cambio_estado_proceso_path('Aceptado', proceso), class: "dropdown-item" %>
                <%= link_to 'Rechazado', cambio_estado_proceso_path('Rechazado', proceso), class: "dropdown-item" %>
              </div>
          </div>
        </td>
        <td><%= proceso.contribuidores %></td>
        <td><%= proceso.version %></td>
        <td><%= proceso.user.email %></td>
        <td><%= proceso.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
